<div class="lot">
    <% if (lot) { %>
    <div class="lot__wrapper">
        <div class="lot__image">
            <img src="/images/lots/<%= lot.img %>.jpg">
        </div>
        <div class="lot__info">
            <div class="lot__name"><b>Name:</b> <%= lot.name %></div>
            <div class="lot__description"><b>Description:</b> <%= lot.description %></div>
            <div class="lot__price"><b>Price:</b> <u><%= lot.price.toLocaleString() %>$</u></div>
            <button class="lot__button">Buy Now</button>
        </div>
    </div>
    <%}%>
</div>