.lot {
  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__image {
    margin-right: 15px;
  }

  &__info {

  }

  &__name {
    font-size: 20px;
    margin-bottom: 5px;
  }

  &__description {
    font-size: 15px;
    margin-bottom: 5px;
  }

  &__price {
    font-size: 18px;
    margin-bottom: 5px;
  }

  &__button {
    font-size: 20px;
    background-color: #000;
    color: #fff;
    padding: 5px 15px;
    border: 0;
    outline: none;
    cursor: pointer;
  }
}