<div class="select">
    <select class="select__filter">
        <option <%= type === '' ? "selected" : ""%> value="">All</option>
        <option <%= type === 'picture' ? "selected" : ""%> value="picture">Picture</option>
        <option <%= type === 'statue' ? "selected" : ""%> value="statue">Statue</option>
        <option <%= type === 'coin' ? "selected" : ""%> value="coin">Coin</option>
    </select>
</div>