.select {
  display: flex;
  align-items: center;
  justify-content: center;

  &__filter, &__sorter {
    width: 20%;
    height: 25px;
  }

  &__sorter {
    margin-left: 5%;
  }
}

@media (max-width: 1023px) {
  .select {
    &__filter, &__sorter {
      width: auto;
    }
  }
}