<div class="about">
    <div class="article__about">
        <h1>Buying Basics </h1>
        <p class="article">
            Sotheby’s experienced staff will guide you through a simple and seamless buying process:
            from selecting a work, to placing a bid, to (should you be successful) shipping your purchase.
            Collectors rely on Sotheby’s to understand current market trends and acquire pieces that have
            lasting value, allowing you to bid with confidence. View glossary of terms to familiarise
            yourself with the language of auctions.
        </p>
        <h2>How can I find out what's for sale?</h2>
        <ol class="article__items">
           <li>Browse our e-catalogues on Sothebys.com from your computer or mobile device.</li>
           <li>Purchase our print catalogues, which are available by subscription or single order.</li>
           <li>Visit our presale exhibitions. View Upcoming Auctions</li>
           <li>Register to receive e-mail alerts so that you never miss a sale in your area of interest.</li>
        </ol>
        <h2>How do I register to bid?</h2>
        <p class="article__title">Register in Person</p>
        <p class="article">
            You can register in person to bid at the sale location before the auction begins.
            You will need to create an account and provide a government-issued proof of
            identity such as a driver’s license or passport. A bank reference may also be required.
            You will also have the opportunity to record your communication information
            (email or post) and shipping preferences (collect or ship).
        </p>
        <p class="article__title">Register Online</p>
        <p class="article">
            You can also register on Sothebys.com by selecting Register to Bid from the drop-down menu under
            the Auctions heading. You will be taken to a page with a list of forthcoming events and, once you
            identify the desired auction, click on the Register to Bid button for the selected event. Additionally,
            the detailed page for each auction gives the option to register. You must complete your application
            24 hours prior to the auction to be included in the bidding.
        </p>
        <p class="article">
            If you require further assistance while registering to bid, please contact the bids department
            using the information provided below:
        </p>
        <div class="article__info">
            <p class="info__item"><b>London:</b> +44 20 7293 5283,<a class="info__mail" href="/">bids.london@sothebys.com</a></p>
            <p class="info__item"><b>New York:</b> +1 212 606 7414, <a class="info__mail" href="/">bids.newyork@sothebys.com</a></p>
            <p class="info__item"><b>Paris:</b> +33 1 5305 5348,<a class="info__mail" href="/">bids.paris@sothebys.com</a></p>
            <p class="info__item"><b>Hong Kong:</b> +852 2822 8142,<a class="info__mail" href="/">bids.hongkong@sothebys.com</a></p>
            <p class="info__item"><b>Milan:</b> +39 02 2950 0239,<a class="info__mail" href="/">bids.milan@sothebys.com</a></p>
            <p class="info__item"><b>Geneva:</b> +41 22 908 4800,<a class="info__mail" href="/">bids.geneva@sothebys.com</a></p>
            <p class="info__item"><b>Zurich:</b> +41 44 226 2200,<a class="info__mail" href="/">bids.zurich@sothebys.com</a></p>
        </div>
        <h2>How do I place a bid?</h2>
        <p class="article">
            There are four ways to bid at Sotheby’s.
            You will be prompted to select your preferred bidding method when you click Register to Bid.
        </p>
        <ol class="article__items">
            <li>Bid in person to experience the live excitement of an auction first hand.</li>
            <li>Place your bids in real time via BIDnow or (for Wine Auctions Only) LiveBid.
                You can always access BIDnow online via the drop-down menu of Auctions.</li>
            <li>Register to Telephone Bid with a Sotheby’s representative. Please check the “telephone” box on the form.</li>
            <li>Submit an Absentee Bid online. If you have previously participated in an auction,
                you must complete this form four hours prior to the sale.  </li>
        </ol>
        <p class="article">
            If successful, our Post Sale Service teams in each selling centre will be happy to assist you with payment
            as well as the collection or shipment of your purchase.
        </p>
        <h2>How do I pay for my purchase?</h2>
        <p class="article">
            Fully knowledgeable on all international regulations, the Sotheby’s Post Sale Service team can arrange
            expert and insured shipping and convenient delivery of your property. We offer exceptional service and
            competitive rates whether consigning a single picture, a diamond bracelet or a large piece of furniture.
        </p>
        <p class="article">
            For sales in London and New York, simply provide us with your delivery address when you register for a sale.
            Following a purchase, we will simply send you a comprehensive shipping quote. For property purchased in any
            of our other salerooms, contact that office directly to arrange for the transport of your purchases.
        </p>
        <h2>What are the symbols that appear next to the estimates on Lots?</h2>
        <p class="article">
            The symbols seen on the Lot Details are referred to as Lot Symbols;  such as a triangle, square, or circle,
            are listed next to the estimates.  The symbol may indicate a note such as a guarantee or lack of reserve.
            For complete list of Symbols and their definition click here.
        </p>
    </div>
</div>