@media (min-width: 1024px) {
  .header {
    background-color: black;
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;

    &__content {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__logo {
      display: flex;
      align-items: center;
    }

    &__nav {
      display: flex;
      justify-content: space-between;
      height: 50px;
      width: 60%;
      padding-left: 0;
      margin: 0 25px 0 25px;
    }

    &__nav-item {
      height: 100%;
      display: flex;
      align-items: center;
      color: #fff;

      & + & {
        margin-left: 10px;
      }

      a {
        color: #fff;
        text-transform: uppercase;
        text-decoration-line: underline;

        &:hover {
          color: gray;
        }
      }

      &-button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &-dropdown {
          display: none;
          position: absolute;
          background-color: #000;
          z-index: 1;
          list-style: none;
          padding: 0;

          a {
            color: #fff;
            padding: 12px 16px;
            display: block;
          }
        }

        &:hover &-dropdown {
          display: block;
          top: 40px;
          left: -17px;
        }
      }
    }

    &__enter {
      margin-right: 25px;
      display: inline-block;
      font-size: 11px;
      color: white;
      text-shadow: 0 -1px rgb(46,53,58);
      text-decoration: none;
      user-select: none;
      line-height: 2em;
      padding: 1px 1.2em;
      outline: none;
      border: 1px solid rgba(33,43,52,1);
      border-radius: 3px;
      background: black;
      box-shadow:
              inset 0 1px rgba(101,114,126,1),
              inset 0 0 1px rgba(140,150,170,.8),
              0 1px rgb(83,94,104),
              0 0 1px rgb(86,96,106);

      &:hover {
        color: gray;
        cursor: pointer;
      }
    }

    &__link_small {
      display: none;
    }
  }
}

@media (max-width: 1023px) {
  .header {
    background-color: #000;

    &__link {
      display: none;

      &_small {
        display: block;
      }
    }
  }
}