<header data-components="Header" class="header">
    <div class="header__content">
        <div class="header__logo">
            <a class="header__link" href="/" data-navigo>
                <img src="//www.sothebys.com/etc/designs/redesigns/sothebys/redesignlibs/source/img/logo2015.jpg"/>
            </a>
        </div>
        <div class="header__logo_small">
            <a class="header__link" href="/" data-navigo>
                <img src="//sohe.wisc.edu/wordpress/wp-content/uploads/s.png"/>
            </a>
        </div>
        <ul class="header__nav">
            <li class="header__nav-item header__nav-item-button">
                <a href="/" data-navigo>Buy/Sell</a>
                <ul class="header__nav-item-button-dropdown">
                    <li class="header__nav-item-button-dropdown-item">
                        <a href="/lots?type=picture" data-navigo>Pictures</a>
                    </li>
                    <li class="header__nav-item-button-dropdown-item">
                        <a href="/lots?type=statue" data-navigo>Statues</a>
                    </li>
                    <li class="header__nav-item-button-dropdown-item">
                        <a href="/lots?type=coin" data-navigo>Coins</a>
                    </li>
                </ul>
            </li>
            <li class="header__nav-item"><a href="/about" data-navigo>About</a></li>
            <li class="header__nav-item "><a href="/contacts" data-navigo>Contacts</a></li>
        </ul>
        <button class="header__enter" href="#">Enter</button>
        <input class="header__search" type="search" />
    </div>
</header>