<footer data-components="Footer" class="footer">
    <div class="footer__container">
        <ul class="footer__nav">
            <li class="footer__item"><a href="#">Press</a></li>
            <li class="footer__item"><a href="#">Investor Relations</a></li>
            <li class="footer__item"><a href="#">Terms & Conditions</a></li>
            <li class="footer__item"><a href="#">Privacy</a></li>
            <li class="footer__item"><a href="#">Security</a></li>
        </ul>
        <div class="footer__icons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-pinterest"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
        <div class="footer__sign">
            <p class="footer__created-by">Created by</p>
            <a href="#" class="made-by-company link-no-styles">K.Sukhova</a>
        </div>
    </div>
</footer>