<footer data-components="Footer" class="footer">
    <div class="footer__container">
        <ul class="footer__nav">
            <li class="footer__item">
                <a href="/" data-navigo>Press</a>
            </li>
            <li class="footer__item">
                <a href="/" data-navigo>Investor Relations</a>
            </li>
            <li class="footer__item">
                <a href="/" data-navigo>Terms & Conditions</a>
            </li>
            <li class="footer__item">
                <a href="/" data-navigo>Privacy</a>
            </li>
            <li class="footer__item">
                <a href="/" data-navigo>Security</a>
            </li>
        </ul>
        <div class="footer__sign">
            <p class="footer__created-by">Created by</p>
            <a href="https://github.com/ksukhova" target="_blank" class="made-by-company link-no-styles">K.Sukhova</a>
        </div>
    </div>
</footer>