<div class="contacts">
    <img class="contacts__map" src="/images/map.png">
    <div class="contacts__info">
        <p class="place">
            <h2>Kyiv: Registered office</h2>
        </p>
        <p class="address">14B Kudryashova Street</p>
        <p class="address">03035 Kyiv</p>
        <p class="address">Ukraine</p>
        <div class="contacts__num">
            <a class="contacts__phone" href="/">P: +380-44-390-5457</a>
            <a class="contacts__fax" href="/">F: +380-44-390-0861</a>
        </div>
        <div class="contacts__form">
            <p class="contacts__form__item">Feedback form</p>
            <form>
                <input class="contacts__input" type="search" placeholder="Name" />
                <input class="contacts__input" type="search" placeholder="Phone number" />
                <input class="contacts__input" type="search" placeholder="Email" />
                <input class="contacts__input" type="search" placeholder="Your question" />
                <button class="contacts__btn">Enter</button>
            </form>
        </div>
    </div>
</div>