@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";

.slider {
  max-width: 900px;
  min-height: 375px;
  margin: 0 auto;
  height: auto;

  .slick-arrow:before {
    color: #000;
  }

  .slick-list {
    min-height: 375px;
  }

  img {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .slider {
    width: 90%;
  }
}